<div class="container">
  <div class="flex gap-8">
    <section class="flex flex-col gap-4 items-start">
      <app-custom-input
        [value]="user?.firstName"
        label="First Name"
        id="firstName"
        type="text"
        [hasError]="hasError('firstName')"
        [error]="getErrorMessage('firstName')"
        (valueChange)="onInputChange($event, 'firstName')"
        [disabled]="!isEditMode"
      ></app-custom-input>

      <app-custom-input
        [value]="user?.lastName"
        label="Last Name"
        id="lastName"
        type="text"
        [hasError]="hasError('lastName')"
        [error]="getErrorMessage('lastName')"
        (valueChange)="onInputChange($event, 'lastName')"
        [disabled]="!isEditMode"
      ></app-custom-input>

      <app-custom-input
        [value]="user?.birthDate"
        label="Birth Date"
        id="birthDate"
        type="date"
        [hasError]="hasError('birthDate')"
        [error]="getErrorMessage('birthDate')"
        (valueChange)="onInputChange($event, 'birthDate')"
        [disabled]="!isEditMode"
      ></app-custom-input>

      <app-custom-input
        [value]="user?.taxIdCode"
        label="Tax ID Code"
        id="taxIdCode"
        type="text"
        [hasError]="hasError('taxIdCode')"
        [error]="getErrorMessage('taxIdCode')"
        (valueChange)="onInputChange($event, 'taxIdCode')"
        [disabled]="!isEditMode"
      ></app-custom-input>
      <p>account created: {{ user?.registrationDate }}</p>
    </section>
    <section>
      <div class="w-full flex flex-col gap-4">
        <app-custom-button text="edit" background="bg-black">
          <app-toggle-button
            [isChecked]="isEditMode"
            (changed)="isEditMode = $event"
          />
        </app-custom-button>
        <app-custom-button
          text="save"
          background="bg-violet-600"
          icon="pi-check"
          [object]="user!"
          [click]="saveUser.bind(this)"
          [disabled]="!isFormValid()"
          *ngIf="isEditMode"
        />
        <app-custom-button
          text="delete"
          background="bg-red"
          icon="pi-trash"
          [object]="user!"
          [click]="deleteUser.bind(this)"
          *ngIf="isEditMode"
        />
      </div>
    </section>
  </div>
  <div
    *ngIf="(user?.rides)!.length > 0"
    class="flex flex-col items-center gap-8"
  >
    <h2 class="text-4xl">Rides:</h2>
    <section class="flex flex-wrap justify-center items-center gap-6 w-full">
      <app-card
        *ngFor="let ride of user?.rideList"
        [id]="ride.id"
        [editable]="false"
      >
        <app-ride-card [ride]="ride" />
      </app-card>
    </section>
  </div>
</div>
