<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uber Clone Api</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div>
    <nav>
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    </nav>
</div>
<h1>Users</h1>
<div>
    
    <div>
        <h2>Welcome to Uber Clone API</h2>
        <p>Our Uber Clone API is a modern, scalable, and efficient solution to manage ride-hailing services.
            It empowers developers to seamlessly integrate features such as:</p>
        <ul>
            <li>User and driver authentication and management</li>
            <li>Booking rides with live tracking</li>
            <li>Fare calculations and payment integration</li>
            <li>Detailed ride history and profile management</li>
            <li>Admin tools to oversee operations</li>
        </ul>
        <p>Explore the API and build your next great project today!</p>
    </div>
</div>
</body>
</html>